@charset 'UTF-8';

@use 'variables' as v;
@use 'mixins' as m;

/* HEADER
----------------------------- */
.header {
    width: 100%;
    height: 80px;

    @include m.mq(v.$sm) {
        height: 60px;
    }

    &__inner {
        width: 100%;
        height: 100%;
        max-width: 1280px;
        margin: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background: #fff;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

    &__right {
        @include m.mq(v.$sm) {
            flex-direction: column;
            width: 100%;
            height: 40vh;
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 10;
            transform: translateX(100vw);
        }
    }

    &__logo {
        width: 130px;
        display: block;
        @include m.resize-img-parent(42.5%);
        transition: opacity .2s;

        &:hover {
            opacity: .6;
        }
        img {
            @include m.resize-img-child(v.$in)
        }
    }

    &__nav {
        ul {
            display: flex;

            li {
                margin-left: 30px;
            }

            a {
                font-weight: bold;
                @include m.link-txt(v.$text-color);
            }
        }

        @include m.mq(v.$sm) {
            width: 100%;
            height: 100vh;
            padding: 0 10%;
            position: fixed;
            top: 0;
            right: 0;
            z-index: 10;
            transform: translateX(100vw);
            background: #FFFFFF;

            ul {
                flex-direction: column;
                height: 60vh;
                padding-top: 80px;

                li {
                    margin: 0;
                    padding: 20px 10px;
                    border-bottom: 1px solid #B4B4B4;

                    a {
                        margin: 0;
                        font-size: 18px;
                    }
                }
            }
        }
    }// &__nav

    &__btn {
        &--request {
            @include m.btn-rectangle(v.$main-color);
            margin-right: 10px;

            @include m.mq(v.$md) {
                display: none;
            }

            @include m.mq(v.$sm) {
                display: block;
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        &--contact {
            @include m.btn-rectangle(v.$text-color);
            @include m.mq(v.$sm) {
            }
        }

        &--request,
        &--contact {
            z-index: 20;

            @include m.mq(v.$sm) {
                width: 80vw;
            }
        }
    }
}// .header

.info {
    margin-right: 20px;

    @include m.mq(v.$md) {
        display: none;
    }

    &--hour {
        font-size: 12px;
        text-align: right;
    }

    &--tel {
        font-weight: bold;
        text-align: right;

        &::before {
            height: 15px;
            width: 10px;
            margin-right: 5px;
            content: '';
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../images/tel_bk.svg);
        }
    }
}// .info

.btn--hamburger {
    display: none;

    @include m.mq(v.$sm) {
        width: 60px;
        height: 60px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 30;
        appearance: none;
        outline: none;
        cursor: pointer;

        &[area-expanded="true"] {
            .hamburger__line {
                background-color: rgba(255, 255, 255, 0);

                &::before,
                &::after {
                top: 0;
                background-color: v.$text-color;
                }

                &::before {
                    -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                }

                &::after {
                    -webkit-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                            transform: rotate(-45deg);
                }
            }
        }

        .hamburger__line {
            position: absolute;
            top: 50%;
            left: 15px;
            width: 30px;
            height: 2px;
            background-color: v.$text-color;
            -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;

            &::before,
            &::after {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background-color: inherit;
                content: '';
                -webkit-transition: transform .3s ease-in-out;
                        transition: transform .3s ease-in-out;
            }
        }

        .hamburger__line::before {
            top: -10px;
        }
        .hamburger__line::after {
            top: 10px;
        }
    }
}// .btn--hamburger

.is-drawerActive {
    .header__nav,
    .header__right {
        transform: translateX(0px);
        transition: .3s;
    }
}// .is-drawerActive

/* TOP MASTHEAD
----------------------------- */
.top-masthead {
    min-height: 500px;
    max-height: 700px;
    position: relative;
    background: url(../images/main.png) center top no-repeat;
    background-size: cover;
    color: #fff;

    &::before {
        content: '';
        display: block;
        padding-top: 37%;
    }

    @include m.mq(v.$md) {
        min-height: auto;
        max-height: auto;
        height: 400px;
    }

    @include m.mq(v.$sm) {
        height: 300px;
        background: url(../images/main-small.png) center top no-repeat;
        background-size: cover;
    }

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;

        h1 {
            margin-bottom: 10px;
            font-size: 3rem;
            text-align: center;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

            @include m.mq(v.$md) {
                font-size: 2.75rem;
            }

            @include m.mq(v.$sm) {
                font-size: 2.375rem;
            }
        }

        p {
            margin-bottom: 50px;
            font-size: 1.125rem;
            text-align: center;

            @include m.mq(v.$sm) {
                margin-bottom: 30px;
            }
        }
    }
}// .top-masthead

.btn--request {
    width: 260px;
    margin: 0 auto 20px;
    display: table;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    @include m.link-btn(v.$main-color);

    @include m.mq(v.$sm) {
        width: 200px;
        font-size: 1rem;
        line-height: 40px;
    }
}

.link {
    display: table;
    margin: 0 auto;
    @include m.link-txt(#fff);
    text-decoration: underline;
}

/* SUB MASTHEAD
----------------------------- */
.sub-masthead {
    &__title {
        position: relative;

        h1 {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 2rem;
            text-align: center;
        }
    }

    &__img {
        @include m.resize-img-parent(17%);
        min-height: 240px;
        max-height: 340px;

        @include m.mq(v.$sm) {
            min-height: 150px;
        }

        img {
            @include m.resize-img-child;
        }
    }

    &__breadcrumbs {
        background: #f8f8f8;

        div {
            @include m.inner(15px);
            font-size: 0.75rem;

            @include m.mq(v.$md) {
                padding: 15px 5%;
            }
        }

        a {
            @include m.link-txt(v.$text-color);
            text-decoration: underline;
        }
    }
}// .sub-masthead