@mixin inner($py: 60px, $px: 0) {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: $py $px;
}

@mixin link($color) {
    color: $color;
    transition: opacity .3s;

    &:hover {
        opacity: .6;
    }
}

@mixin btn-rectangle($bg) {
    width: 140px;
    margin-right: 10px;
    padding: 15px 0;
    display: table;
    background: $bg;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

@mixin btn-hover {
    color: #fff;
    background: #707070;
}

@mixin resize-img-parent($ratio) {
    position: relative;

    &::before {
        display: block;
        padding-top: $ratio;
        content: '';
    }
}

@mixin resize-img-child($type) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: $type;
}
