@charset 'UTF-8';

@use 'sass:color';
@use 'variables' as v;

@mixin inner($py: 60px, $px: 0) {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: $py $px;
}

@mixin link-txt($color) {
    color: $color;
    transition: opacity .2s;

    &:hover {
        opacity: .6;
    }
}

@mixin link-btn($bg) {
    background: $bg;
    color: #fff;
    transition: background-color .2s;

    &:hover {
        background: color.scale($bg, $lightness: 40%);
    }
}

@mixin btn-rectangle($bg) {
    width: 140px;
    padding: 15px 0;
    display: table;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    @include link-btn($bg);

    &:hover {
        background: color.scale($bg, $lightness: 20%);
    }
}

@mixin btn-hover {
    color: #fff;
    background: #707070;
}

@mixin resize-img-parent($ratio) {
    position: relative;

    &::before {
        display: block;
        padding-top: $ratio;
        content: '';
    }
}

@mixin resize-img-child($type: v.$ex) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: $type;
}

@mixin txt-bg($width: fit-content, $color: v.$text-color) {
    display: block;
    width: $width;
    background: $color;
    color: #fff;
}

@mixin mq($size) {
    @media (max-width: $size) {
        @content;
    }
}