@charset 'UTF-8';

@use 'variables' as v;
@use 'mixins' as m;

/* FEE STRUCTURE
----------------------------- */
.fee-structure {
    &__formula {
        display: table;
        margin: 60px auto 40px;

        @include m.mq(v.$md) {
            margin-top: 0;
        }

        div {
            @include m.txt-bg(290px);
            display: table-cell;
            vertical-align: middle;
            height: 90px;
            font-size: 1.375rem;
            font-weight: bold;
            text-align: center;

            @include m.mq(v.$sm) {
                height: 60px;
                padding: 3%;
                font-size: 1.125rem;
            }
        }

        span {
            display: table-cell;
            vertical-align: middle;
            padding: 0 35px;
            font-size: 2.5rem;
            font-weight: bold;

            @include m.mq(v.$sm) {
                padding: 0 10px;
                font-size: 2rem;
            }
        }
    }// &__formula
}// .fee-structure

/* FEE LIST
----------------------------- */
.fee-list {
    .section__title {
        margin-bottom: 70px;

        @include m.mq(v.$md) {
            margin-bottom: 40px;
        }
    }

    &__wrapper {
        @include m.mq(v.$sm) {
            overflow-x: scroll;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @include m.mq(v.$sm) {
            width: 600px;
            margin: auto;
        }
    }

    &__recommend {
        height: 35px;
        padding-top: 15px;
        z-index: 10;
        background: #fff;
        border: 1px solid #fff;
        box-shadow: 0 0 0 2px #fff;

        &.is-show {
            border: none;
            box-shadow: none;
            @include m.txt-bg(100%, v.$main-color);
            font-weight: bold;
        }
    }

    &__item {
        flex: 0 0 calc((100% - 15px) / 4);
        box-shadow: 0px 0px 0px 1px v.$text-color inset;
        text-align: center;

        &.recommend {
            box-shadow: 0px 0px 0px 1px v.$main-color inset;
            position: relative;

            .fee-list__name {
                background: v.$main-color;
            }

            .fee-list__fee p {
                color: v.$main-color;
            }
        }// &.recommend
    }// &__item

    &__name {
        @include m.txt-bg(100%);
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
    }

    &__fee {
        margin: 20px auto 30px;

        p {
            margin-bottom: 5px;
            font-size: 1.625rem;
            font-weight: bold;
        }
    }

    &__content {
        padding: 0 10px 80px 40px;
        list-style-image: url(../images/icon-check.png);
        text-align: left;

        @include m.mq(v.$md) {
            padding-bottom: 40px;
        }

        @include m.mq(v.$sm) {
            padding-bottom: 10px;
        }

        li {
            margin-bottom: 10px;
            white-space: normal;
        }
    }
}// .fee-list