@charset 'UTF-8';

@use 'variables' as v;
@use 'mixins' as m;


/* COMMON
----------------------------- */
html {
    font-size: 16px;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: "Yu Gothic", "YuGothic", sans-serif;
    color: v.$text-color;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

br.sp,
br.tb {
    display: none;
}

br.pc {
    display: block;
}

/* HEADER
----------------------------- */
.header {
    height: 80px;
    width: 100%;

    &__inner {
        height: 100%;
        width: 100%;
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background: #fff;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 130px;
        margin-left: 15px;
        display: block;
        @include m.resize-img-parent(42.5%);

        img {
            @include m.resize-img-child(v.$in)
        }
    }

    &__info {
        margin-right: 20px;

        &--hour {
            font-size: 12px;
            text-align-last: right;
        }

        &--tel {
            font-weight: bold;

            &::before {
                height: 15px;
                width: 10px;
                margin-right: 5px;
                content: '';
                display: inline-block;
                background: url(../images/tel_bk.svg) center center no-repeat;
                background-size: contain;

            }
        }
    }// &__info

    &__btn {
        &--contact {
            @include m.btn-rectangle(v.$main-color);
        }

        &--request {
            @include m.btn-rectangle(v.$text-color);
        }
    }
}// .header

/* TOP MASTHEAD
----------------------------- */
.top-masthead {
    position: relative;
    background: url(../images/main.png) center top no-repeat;
    background-size: cover;
    color: #fff;

    &::before {
        content: '';
        display: block;
        padding-top: 37%;
    }

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;

        h1 {
            margin-bottom: 10px;
            font-size: 3rem;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }

        p {
            margin-bottom: 50px;
            font-size: 1.125rem;
            text-align: center;
        }
    }

    &__btn {
        height: 60px;
        width: 260px;
        margin-bottom: 20px;
        display: table;
        background: v.$main-color;
        border-radius: 30px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: 60px;
    }

    &__link {
        color: #fff;
        text-decoration: underline;
    }
}// .top-masthead

/* INTRO
----------------------------- */
.intro {
    background: v.$text-color;
    text-align: center;

    h2 {
        margin-bottom: 40px;
        font-size: 2.25rem;
        color: #fff;
        // text-align: center;
    }

    ul {
        margin-bottom: 80px;
        display: flex;
        justify-content: center;

        li {
            margin: 0 15px;
            font-size: 1.125rem;
            color: #fff;
        }
    }

    &__box {
        width: 100%;
        padding: 40px;
        position: relative;
        background: #fff;

        &::before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border: 5px solid v.$text-color;
        }

        h2 {
            margin-bottom: 20px;
            color: v.$text-color;
        }

        span {
            background: linear-gradient(
                rgba(255, 255, 255, 0) 60%,
                v.$main-color 60%,
                v.$main-color 80%,
                rgba(255, 255, 255, 0) 80%
                );
        }
    }
}// .intro

.section {
    &__inner {
        @include m.inner;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 2.25rem;
        text-align: center;
    }
}// .section

/* FEATURES
----------------------------- */
.features {
    &__list {
        margin: 60px auto 90px;
    }

    &__item {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }

        div {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                font-size: 1.625rem;
            }
        }

        figure {
            width: 40%;
            @include m.resize-img-parent(68%);

            img {
                @include m.resize-img-child(v.$ex);
            }
        }
    }// &__item

    &__number {
        width: fit-content;
        padding: 10px 25px;
        background: v.$main-color;
        color: #fff;
        font-size: 0.75rem;
    }

    &__price {
        padding: 60px;
        background: url(../images/feature-price.png) center center no-repeat;

        p {
            margin-bottom: 30px;
            color: #fff;
            font-size: 1.625rem;
            font-weight: bold;
            text-align: center;
        }
    }

    &__btn {
        height: 50px;
        width: 200px;
        margin: auto;
        display: table;
        border: 1px solid #FFFFFF;
        border-radius: 25px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        line-height: 50px;
    }

}// .features