@charset 'UTF-8';

@use 'variables' as v;
@use 'mixins' as m;


/* COMMON
----------------------------- */
html {
    font-size: 16px;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: "Yu Gothic", "YuGothic", sans-serif;
    color: v.$text-color;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

br.sp,
br.tb {
    display: none;
}

br.pc {
    display: block;
}

/* HEADER
----------------------------- */
.header {
    height: 80px;
    width: 100%;

    &__inner {
        height: 100%;
        width: 100%;
        max-width: 1280px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background: #fff;
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 130px;
        margin-left: 15px;
        display: block;
        @include m.resize-img-parent(42.5%);

        img {
            @include m.resize-img-child(v.$in)
        }
    }

    &__btn {
        &--request {
            @include m.btn-rectangle(v.$main-color);
        }

        &--contact {
            @include m.btn-rectangle(v.$text-color);
        }
    }
}// .header

.info {
    margin-right: 20px;

    &--hour {
        font-size: 12px;
        text-align: right;
    }

    &--tel {
        font-weight: bold;
        text-align: right;

        &::before {
            height: 15px;
            width: 10px;
            margin-right: 5px;
            content: '';
            display: inline-block;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../images/tel_bk.svg);
        }
    }
}// .info

/* TOP MASTHEAD
----------------------------- */
.top-masthead {
    position: relative;
    background: url(../images/main.png) center top no-repeat;
    background-size: cover;
    color: #fff;

    &::before {
        content: '';
        display: block;
        padding-top: 37%;
    }

    &__content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;

        h1 {
            margin-bottom: 10px;
            font-size: 3rem;
            text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        }

        p {
            margin-bottom: 50px;
            font-size: 1.125rem;
            text-align: center;
        }
    }
}// .top-masthead

.btn--request {
    height: 60px;
    width: 260px;
    margin: 0 auto 20px;
    display: table;
    background: v.$main-color;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.link {
    display: table;
    margin: 0 auto;
    color: #fff;
    text-decoration: underline;
}

/* INTRO
----------------------------- */
.intro {
    background: v.$text-color;
    text-align: center;

    h2 {
        margin-bottom: 40px;
        font-size: 2.25rem;
        color: #fff;
        // text-align: center;
    }

    ul {
        margin-bottom: 70px;
        display: flex;
        justify-content: center;

        li {
            margin: 0 15px;
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 2;
            color: #fff;
        }
    }

    &__box {
        width: 100%;
        padding: 40px;
        position: relative;
        background: #fff;

        &::before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border: 5px solid v.$text-color;
        }

        h2 {
            margin-bottom: 20px;
            color: v.$text-color;
        }

        span {
            background: linear-gradient(
                rgba(255, 255, 255, 0) 60%,
                v.$main-color 60%,
                v.$main-color 80%,
                rgba(255, 255, 255, 0) 80%
                );
        }
    }
}// .intro

.section {
    &__inner {
        @include m.inner;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 2.25rem;
        text-align: center;
    }
}// .section

/* FEATURES
----------------------------- */
.features {
    &__list {
        margin: 60px auto 90px;
    }

    &__item {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }

        div {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                font-size: 1.625rem;
            }
        }

        figure {
            width: 40%;
            @include m.resize-img-parent(68%);

            img {
                @include m.resize-img-child(v.$ex);
            }
        }
    }// &__item

    &__number {
        width: fit-content;
        padding: 10px 25px;
        background: v.$main-color;
        color: #fff;
        font-size: 0.75rem;
    }

    &__fee {
        padding: 60px;
        background: url(../images/feature-fee.png) center center no-repeat;

        p {
            margin-bottom: 30px;
            color: #fff;
            font-size: 1.625rem;
            font-weight: bold;
            text-align: center;
        }
    }

    &__btn {
        height: 50px;
        width: 200px;
        margin: auto;
        display: table;
        border: 1px solid #FFFFFF;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        line-height: 50px;
    }
}// .features

/* CASES
----------------------------- */
.cases {
    background: v.$text-color;

    .section__title {
        margin-bottom: 100px;
        color: #fff;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex: 0 0 31%;
        position: relative;
    }

    &__overview {
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
    }

    &__img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
        padding-top: 30px;
        background: #fff;
    }

    &__profession,
    &__name,
    &__score {
        padding: 5px 10px;
        background: #fff;
    }

    &__profession {
        display: inline-block;
        width: 35%;
    }

    &__name {
        display: inline-block;
        width: 62%;
        position: absolute;
        right: 0;
    }

    &__score {
        margin-top: 15px;
    }
}// .cases

/* FLOW
----------------------------- */
.flow {
    &__item {
        height: 65px;
        margin-bottom: 10px;
        display: flex;
        background: #F8F8F8;

        dl {
            display: flex;
            align-items: center;

            div {
                height: 50%;
                border-left: 1px solid #B4B4B4;
            }

            dt {
                min-width: 215px;
                padding: 0 20px;
                font-size: 1.125rem;
                font-weight: bold;
            }

            dd {
                margin-left: 60px;
            }
        }
    }// &__item

    &__number {
        height: 100%;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: v.$main-color;

        span {
            color: #fff;
            font-weight: bold;
        }
    }// &__number
}//.flow

/* FAQ
----------------------------- */
.faq {
    .section__inner {
        padding-top: 15px;
    }

    &__list {
        border-bottom: 1px solid v.$text-color;
    }

    &__item {
        border-top: 1px solid v.$text-color;
    }

    &__question {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 1rem;
            font-weight: normal;
            cursor: pointer;
        }

        span {
            font-size: 2.5rem;
        }
    }

    &__answer {
        padding: 20px 25px;
        background: #F8F8F8;
        // display: none;
    }
}// .faq

/* FOOTER
----------------------------- */
.footer {
    &__banner {
        padding: 60px 0 40px;
        background: url(../images/footer-banner.png) center center no-repeat;
        background-size: cover;

        p {
            margin-bottom: 20px;
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }
    }// &__banner

    &__tel {
        font-weight: bold;
        text-align: center;

        span {
            margin: 10px 20px;
            display: inline-block;
            font-size: 2rem;
        }

        p {
            display: inline-block;
            font-weight: normal;
        }
    }

    &__nav {
        display: flex;
        background: v.$text-color;
    }

    &__inner {
        @include m.inner(30px);
        display: flex;
        justify-content: space-between;
    }

    &__right {
        margin-bottom: 30px;
        color: #fff;

        figure {
            width: 200px;
            height: 60px;
            margin-bottom: 20px;
            padding: 15px 20px;
            display: flex;
            justify-content: center;
            align-content: center;
            background: #fff;
        }
    }// &__right

    .info {
        &--tel {
            color: #fff;

            &::before {
                background-image: url(../images/tel_wh.svg);
            }
        }

        &--hour {
            margin-bottom: 10px;
            color: #fff;
        }
    }

    &__copyright {
        background: #fff;

        p {
            height: 35px;
            width: 900px;
            margin: auto;
            text-align: right;

            small {
                font-size: 12px;
                font-weight: bold;
                line-height: 35px;
            }
        }
    }// &__copyright
}// .footer