@charset 'UTF-8';

@use 'variables' as v;
@use 'mixins' as m;

@use 'header';
@use 'page-fee';

/* COMMON
----------------------------- */
html {
    font-size: 16px;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    font-family: "Yu Gothic", "YuGothic", sans-serif;
    color: v.$text-color;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

br.sp,
br.tb {
    display: none;
}

br.pc {
    display: block;
}

/* INTRO
----------------------------- */
.intro {
    background: v.$text-color;
    text-align: center;

    h2 {
        margin-bottom: 40px;
        font-size: 2.25rem;
        color: #fff;
        // text-align: center;
    }

    ul {
        margin-bottom: 70px;
        display: flex;
        justify-content: center;

        li {
            margin: 0 15px;
            font-size: 1.125rem;
            font-weight: bold;
            line-height: 2;
            color: #fff;
        }
    }

    &__box {
        width: 100%;
        padding: 40px;
        position: relative;
        background: #fff;

        &::before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border: 5px solid v.$text-color;
        }

        h2 {
            margin-bottom: 20px;
            color: v.$text-color;
        }

        span {
            background: linear-gradient(
                rgba(255, 255, 255, 0) 60%,
                v.$main-color 60%,
                v.$main-color 80%,
                rgba(255, 255, 255, 0) 80%
                );
        }
    }
}// .intro

.section {
    &__inner {
        @include m.inner;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 2rem;
        text-align: center;
    }
}// .section

.home {
    .section__title {
        font-size: 2.25rem;

    }

}

/* FEATURES
----------------------------- */
.features {
    &__list {
        margin: 60px auto 90px;
    }

    &__item {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;

        &:nth-of-type(even) {
            flex-direction: row-reverse;
        }

        div {
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                font-size: 1.625rem;
            }
        }

        figure {
            width: 40%;
            @include m.resize-img-parent(68%);

            img {
                @include m.resize-img-child(v.$ex);
            }
        }
    }// &__item

    &__number {
        @include m.txt-bg($color: v.$main-color);
        padding: 10px 25px;
        font-size: 0.75rem;
    }

    &__fee {
        padding: 60px;
        background: url(../images/feature-fee.png) center center no-repeat;

        p {
            margin-bottom: 30px;
            color: #fff;
            font-size: 1.625rem;
            font-weight: bold;
            text-align: center;
        }
    }

    &__btn {
        height: 50px;
        width: 200px;
        margin: auto;
        display: table;
        border: 1px solid #FFFFFF;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        line-height: 50px;
        transition: background-color .2s;

        &:hover {
            background: rgba(255, 255, 255, 0.4);
        }
    }
}// .features

/* CASES
----------------------------- */
.cases {
    background: v.$text-color;

    .section__title {
        margin-bottom: 100px;
        color: #fff;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex: 0 0 31%;
        position: relative;
    }

    &__overview {
        margin-bottom: 10px;
        color: #fff;
        font-weight: bold;
    }

    &__img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
        padding-top: 30px;
        background: #fff;
    }

    &__profession,
    &__name,
    &__score {
        padding: 5px 10px;
        background: #fff;
    }

    &__profession {
        display: inline-block;
        width: 35%;
    }

    &__name {
        display: inline-block;
        width: 62%;
        position: absolute;
        right: 0;
    }

    &__score {
        margin-top: 15px;
    }
}// .cases

/* FLOW
----------------------------- */
.flow {
    &__item {
        height: 65px;
        margin-bottom: 10px;
        display: flex;
        background: #F8F8F8;

        dl {
            display: flex;
            align-items: center;

            div {
                height: 50%;
                border-left: 1px solid #B4B4B4;
            }

            dt {
                min-width: 215px;
                padding: 0 20px;
                font-size: 1.125rem;
                font-weight: bold;
            }

            dd {
                margin-left: 60px;
            }
        }
    }// &__item

    &__number {
        height: 100%;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: v.$main-color;

        span {
            color: #fff;
            font-weight: bold;
        }
    }// &__number
}//.flow

/* FAQ
----------------------------- */
.faq {
    .section__inner {
        padding-top: 15px;
    }

    &__list {
        border-bottom: 1px solid v.$text-color;
    }

    &__item {
        border-top: 1px solid v.$text-color;
    }

    &__question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        h3 {
            font-size: 1rem;
            font-weight: normal;
        }

        span {
            font-size: 2.5rem;
        }
    }

    &__answer {
        padding: 20px 25px;
        background: #F8F8F8;
        // display: none;
    }
}// .faq

/* FOOTER
----------------------------- */
.footer {
    &__banner {
        padding: 60px 0 40px;
        background: url(../images/footer-banner.png) center center no-repeat;
        background-size: cover;

        p {
            margin-bottom: 20px;
            color: #fff;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }
    }// &__banner

    &__tel {
        font-weight: bold;
        text-align: center;

        span {
            margin: 10px 20px;
            display: inline-block;
            font-size: 2rem;
        }

        p {
            display: inline-block;
            font-weight: normal;
        }
    }

    &__nav {
        display: flex;
        background: v.$text-color;
    }

    &__inner {
        @include m.inner(30px);
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        padding-top: 20px;

        li {
            padding-right: 20px;

            &:not(:first-of-type) {
                padding-left: 20px;
                border-left: 1px solid #fff;
            }
        }

        a {
            font-weight: bold;
            @include m.link-txt(#fff);
        }
    }

    &__right {
        margin-bottom: 30px;
        color: #fff;

        figure {
            width: 200px;
            height: 60px;
            margin-bottom: 20px;
            padding: 15px 20px;
            display: flex;
            justify-content: center;
            align-content: center;
            background: #fff;
        }
    }// &__right

    .info {
        &--tel {
            color: #fff;

            &::before {
                background-image: url(../images/tel_wh.svg);
            }
        }

        &--hour {
            margin-bottom: 10px;
            color: #fff;
        }
    }

    &__copyright {
        background: #fff;

        p {
            height: 35px;
            width: 900px;
            margin: auto;
            text-align: right;

            small {
                font-size: 12px;
                font-weight: bold;
                line-height: 35px;
            }
        }
    }// &__copyright
}// .footer

/* POST
----------------------------- */
.post {
    &--blog {
        .section__inner {
            display: flex;
            justify-content: space-between;
        }

        .col1 {
            width: 65%;
        }

        .col2 {
            width: 30%;
        }
    }

    &__category {
        display: flex;
        flex-wrap: wrap;

        li {
            a {
                @include m.txt-bg;
                margin-right: 10px;
                margin-bottom: 20px;
                padding: 10px 25px;
                font-size: 0.75rem;
            }
        }
    }

    &__title {
        margin-bottom: 10px;
        font-size: 1.75rem;

        & .news {
            font-size: 1.375rem;
        }
    }

    &__above {
        display: flex;
        justify-content: space-between;
    }

    &__date {
        text-align: right;
    }

    &__img {
    }

    &__content{
        padding: 40px 0 60px;

        * {
            margin-bottom: 30px;
        }

        h1 {
            font-size: 1.75rem;
        }

        h2 {
            font-size: 1.625rem;
        }

        h3 {
            padding-left: 10px;
            border-left: 4px solid v.$text-color;
            font-size: 1.375rem;
        }

        blockquote {
            padding: 20px;
            padding-left: 65px;
            position: relative;
            background: #f8f8f8;

            &::before {
                content: '“';
                display: block;
                position: absolute;
                top: -10px;
                left: 15px;
                font-size: 5.625rem;
                color: #b4b4b4;
            }
        }

        a {
            @include m.link-txt(v.$main-color);
            text-decoration: underline;
        }

        ul, ol {
            margin-bottom: 10px;
            padding-left: 20px;
        }

        ul > li {
            margin-bottom: 10px;

            &::before {
                content: '';
                display: inline-block;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: v.$main-color;
                position: relative;
                left: -15px;
                top: -3px;
            }
        }

        ol li {
            margin-bottom: 10px;
        }

        img {
            object-fit: contain;
        }
    }// &__content

    &--news {
        .post__content {
            padding-bottom: 0;
        }
    }
}// .post

.recommend-article {
    h2 {
        margin-bottom: 30px;
        font-size: 1.625rem;
    }
}

.relative-article,
.category-list {
    h2 {
        margin-bottom: 30px;
        padding: 10px;
        background: v.$text-color;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }
}

.category-list {
    &__list {
        padding-left: 30px;
        list-style-type: disc;
    }

    &__item {
        margin-bottom: 5px;

        a {
            @include m.link-txt(v.$text-color);
            font-weight: bold;
        }
    }
}

/* BLOG ARCHIVE
----------------------------- */
.blog-archive {
    li {
        margin-bottom: 90px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        position: relative;
        color: v.$text-color;
        transition: opacity .2s;

        &:hover {
            opacity: .6;
        }
    }

    &__img {
        max-height: 150px;
        width: 27%;
        @include m.resize-img-parent(62.5%);

        img {
            @include m.resize-img-child;
        }
    }

    &__category {
        @include m.txt-bg;
        padding: 5px 10px;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
    }

    &__body {
        width: 67%;
        position: relative;
    }

    &__date {
        margin-bottom: 5px;
        text-align: left;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 1.625rem;
        font-weight: bold;
        text-decoration: underline;
    }

    &.top {
        width: 48%;

        li {
            margin-bottom: 30px;
        }

        .blog-archive__img {
            width: 35%;
        }

        .blog-archive__body {
            width: 60%;
            padding-bottom: 20px;
        }

        .blog-archive__title {
            font-size: 1rem;
        }

        .blog-archive__date {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            font-size: 12px;
        }
    }// &.top
}// .blog-archive

.pagination {
    display: flex;
    justify-content: center;
    padding: 40px;

    span,
    a {
        @include m.txt-bg(50px);
        height: 50px;
        margin: 0 10px;
        text-align: center;
        font-weight: bold;
        line-height: 50px;
    }

    a,
    .dots {
        background: #fff;
        color: v.$text-color;
    }

    a {
        border: 1px solid v.$text-color;
    }
}// .pagination

/* TOP ARCHIVE
----------------------------- */
.top-archive {
    .section__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 90px;
    }

    h2 {
        margin-bottom: 30px;
        font-size: 2rem;
    }
}// .top-archive

/* NEWS ARCHIVE
----------------------------- */
.news-archive {
    .section__inner {
        padding-bottom: 30px;
    }

    &__list {
        border-top: 1px solid #B4B4B4;
    }

    &__item {
        display: flex;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #B4B4B4;
    }

    &__date {
        margin-right: 5%;
    }

    &__title {
        font-size: 1rem;
        font-weight: normal;
        text-decoration: underline;
        @include m.link-txt(v.$text-color);
    }

    &.top {
        width: 45%;

        .news-archive__list {
            border: none;
        }

        .news-archive__item {
            display: block;
            min-height: 90px;
            margin-bottom: 15px;
            padding: 0;
            border: none;
        }

        .news-archive__date {
            margin-right: 0;
            margin-bottom: 10px;
            font-size: 0.75rem;
        }
    }// .top
}// .news-archive